.banner{
    background: url(./Image/b1.jpg) center;
    height: 50vh;
    position: relative;

}

.banner_search{
    display: flex;
    flex-direction: column;
    
}

.banner_searchButton{
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
}
.banner_info{
    background-color: black;
    color: white;
    padding-top:15vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    width: 350px;

}

.banner_info>button{
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 5px;
    font-weight: 600;
}

@media screen and (max-width:992px) {
    .banner{
        
    }
}