

.FilterPage{
    margin: 0;
    margin-top: 0px;
    align-items: center;
    
    /* z-index: 10; */
    height: 100vh;
    width: 100vw;
    /* background-color: white;
    border: 3px solid lightsteelblue;
    border-radius: 30px; */
}
.FilterPage>h1{
    align-items: center;
    color: aqua;
    text-align: center;
}
.banner_searchButton{
    display:none;
}

.cont2{
    z-index: -10;
}

@media screen and (max-width: 600px) {

    
   .categoryBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    
    align-items: center;
   }
   .categoryBox>li{
    list-style: none;
  flex: 0 0 40.333333%;
   }
    .filterBox_mobile>h2{
        font-family:Grenze Gotisch ;
        font-weight: 500 ;
        margin-top: 0;
        
    }
    .banner_searchButton{
        display:inline;
    }
    .filterBox_mobile>h4{
        text-align: center;
        font-family:"Oswald";
    }
    .category-link{
        font-family:"Oswald";
    }
    .filterBox_mobile{
        /* display:none; */
        /* border:solid rgba(0, 0, 0, 0.534); */
        position: fixed;
        border-radius: 10px;
        padding:1rem;
        padding-top: 0;
        height:90vh;
        /* width:100vw; *s/
        /* box-shadow: 5px 10px #888888; */
        /* margin-top: 50px; */
        background-color: white;
      }

      .horizontal{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .filter-buttons1 {
        /* font-family:Grenze Gotisch ;
        font-weight: 500 ; */
        font: 500 1.5vmax 'Acme', sans-serif;
        height: 50px;
      }

}
