
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:sticky;
    top:0;
    background-color: white;
    width: 100%;
    z-index: 100;
}

.header_icon{
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
}

.header_center{
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 99px;
}
.header_center>input{
    border: none;
    padding: 2px;
    outline-width: 0;
    width: 250px;
}

.header_right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15vw;
    margin-right: 80px;
}

.header_right>p{
    margin-bottom: 0;
}