.aniket{
  margin-left: 15%;
  margin-right: 13%;
}


.new{
  display: none;
}

.productsHeading {
  margin: 2vmax auto;
  margin-top: 8vmax;
  width: 25vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  padding: 2vmax;
  color: rgba(0, 0, 0, 0.678);
  font: 500 1.5vmax 'Acme', sans-serif;
  text-align: center;
}

.paginationBox {
  /* width: 200vmax; */
  display: flex;
  justify-content: center;
  margin: 6vmax;
}


.filterBox {
  width: 10vmax;
  
 
  position: fixed;
  top: 10vmax;
  left: 4vmax;
}
.slider_mobile{
  margin-top: 35px;
}
.filterBox > fieldset {
  border: 1px solid rgba(0, 0, 0, 0.329);
}

.categoryBox {
  padding: 0%;
}

.category-link {
  list-style: none;
  color: rgba(0, 0, 0, 0.61);
  font: 900 0.8vmax "Roboto";
  margin: 0.4vmax;
  cursor: pointer;
  transition: all 0.5s;
}
.category-link:hover {
  color: tomato;
}

.filterBox > fieldset {
  border: 1px solid rgba(0, 0, 0, 0.329);
}

.typography {
  color: blueviolet;
}

h4{
  text-align: center;
  font-family:"Oswald";
  font-weight: 900;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  
}

.filter-buttons1 {
  /* background-color: #fff; */
  margin-right: 0.5rem;
  border: none;
  background-color: black;
  color: white;
  /* color: chartreuse; */
  font: 400 1.1vmax "Roboto";
  font-family:"Oswald";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.filter-buttons2 {
  /* background-color: #fff; */
  margin-right: 1rem;
  border: none;
  background-color: orangered  ;
  color: white;
  /* color: chartreuse; */
  font: 400 1.1vmax "Roboto";
  font-family:"Oswald";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.filter-buttons button:hover {

  color:blueviolet;
  background-color: #f8f8f8;
  border-color: #999;
  color: #666;
}


@media only screen and (max-device-width: 600px) {
  .new{
    display: block;
  }
  .aniket{
      margin-left: 0%;
      margin-right: 0%;
    }
  .filterBox {
    width: 30vmax;
    position: relative;
    /* margin-left: 70px; */
  }

  .page-link {
    font: 300 1.7vmax;
  }

  .category-link {
    font: 300 1.8vmax;
  }
}

@media screen and (max-width: 600px) {
  .productsHeading{
    margin-top: 100px;
    
    font: 900 2.8vmax 'Acme', sans-serif;
    width: 80%;
  }

  .filter-buttons1 {
    /* font-family:Grenze Gotisch ;
    font-weight: 500 ; */
    font: 500 2.3vmax 'Acme', sans-serif;
    height: 50px;
  }

  .filter-buttons2 {
    /* font-family:Grenze Gotisch ;
    font-weight: 500 ; */
    font: 500 2.3vmax 'Acme', sans-serif;
    height: 50px;
  }

    .filterBox {
      
    


      /* width: 40vmax; */
      position: static;
    
      /* margin: auto; */
    }
    h2{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: center;
      /* text-shadow: 2px 2px #ff0000; */

    }
    
    h4{
      /* text-align: center; */
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .category-link{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding: 5px;
     
    }
   
    .filterBox{
      display:none; 
    }
  .filterBox_mobile{
    /* display:none; */
    /* border:solid rgba(0, 0, 0, 0.534); */
    margin-top: 140px;
    width: 100%;
    border-radius: 10px;
    /* padding:1.5rem; */
    height:80vh;
    /* width:100vw; */
    /* box-shadow: 5px 10px #888888; */
    /* margin-top: 50px; */
    background-color: white;
  }
  

 .slider_mobile{
  margin-top: 25px;
  margin-left: 60px;
 /* padding-left: 200px; */
  /* margin-right: 50px; */
  position: relative;
  right:20px;
  /* left:20px; */
 

 
  
  
 }
    .page-link {
      font: 300 1.7vmax "Roboto";
    }
    .category-link {
      font: 400 1.8vmax "Roboto";
    }
  }
